<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/header-footer.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Quicksand|Abril+Fatface|Libre+Baskerville|Playfair+Display' rel='stylesheet' type='text/css'>
	  <link href='https://fonts.googleapis.com/css?family=Quicksand|Abril+Fatface|Libre+Baskerville|Playfair+Display' rel='stylesheet' type='text/css'>
    {{> page-css }}
    {{#if headPartial}}
    {{> (lookup . 'headPartial')}}
    {{/if}}
  </head>
  <body>
  {{> header }}

  {{{contents}}}

  {{> footer }}
  </body>

</html>
