<!doctype html>
<html class="related-works-html" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Quicksand|Abril+Fatface|Libre+Baskerville|Playfair+Display' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    {{#if page-css}}
    {{> page-css }}
    {{/if}}
    {{#if headPartial}}
    {{> (lookup . 'headPartial')}}
    {{ else }}
    {{> page-head }}
    {{/if}}
  </head>

  <body class="models-page related-works">
  {{{contents}}}
  </body>
</html>
