@media(max-width: 700px) {
  .featured-image-holder {
    width: 95%;
  }

  .featured-image-section .aside-content {
    width: 95%;
  }

  .aside-content-inner {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 14px;
  }
}
