<footer>
  <div class="wrapper">
    <div class="footer-inner">
      <div class="footer-legal-row">
        <span>Jasmine Oh</span>
        <span class="divider"></span>
        <span><script type="text/javascript">
document.write(new Date().getFullYear());
        </script></span>
      </div>
      <div class="footer-contact-row">
        <ul class="footer-contact">
          <li><span>T:</span> 714 900 0756</li>
          <li><span>E:</span> <a href="mailto:jasmineoh320@gmail.com" title="jasmineoh320@gmail.com">jasmineoh320@gmail.com</a></li>
        </ul>
        <span class="divider"></span>
        <ul class="footer-social">
          <li><a href="https://www.facebook.com/protectwhales" title="Oh Facebook" class="facebook" target="_blank"></a></li>
          <li><a href="https://instagram.com/ohhhjasmine" title="Oh Instagram" class="instagram" target="_blank"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
