<link rel="stylesheet" href="assets/css/main.css">
<link rel="stylesheet" href="assets/css/featured-images.css">
<link rel="stylesheet" href="assets/css/lightbox.css" >
<link rel="stylesheet" type="text/css" href="assets/vendor/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="assets/vendor/slick/slick-theme.css"/>

<link href="assets/css/jquery.fullpage.css" rel="stylesheet">

<script src="assets/js/modernizr-2.8.3.min.js"></script>
<script type='text/javascript' src='assets/js/jquery.js?ver=1.11.2'></script>
<script type='text/javascript' src='assets/js/jquery-migrate.min.js?ver=1.2.1'></script>
